

       <form  role="form" ng-submit="GetUser()">
     <input placeholder="IPAdress*" type="text" id="ipaddress" name="ipaddress"  ng-model="user.data.attributes.ipaddress"  required>
    <input placeholder="Username*" type="text" id="username" name="username"  ng-model="user.data.attributes.username"  required>
    <input placeholder="Password*" type="password" id="password" name="password"  ng-model="user.data.attributes.password"  required>
    
    <button  ng-disabled="loading" class="button-primary" type="submit" >

                              <span ng-hide="loading">Submit</span>
                              <span ng-show="loading">Connecting....</span></button>

           </form>

           
     <div>
     <p> Users that have root privileges and Interactive Shell Access are as follows
     
     
     <strong ng-repeat="user in data"> {{ user }} </strong> </p>
     
     </div>